/* ul li{

    color: white;
    
}
ul li:hover{

    color: rgb(220, 235, 236);
   
}
.nav-option{

    color: white;
}
.nav-option:hover .nav-option:hover i.bi{

    color: black;
  
}

.nav-option i.bi{
   color:white;
   
} */

/* .navbar-toggler{

    background-color: white;
} */